/* Website template by freewebsitetemplates.com */
body {
	margin: 0;
	padding: 0;
	position: relative;
	width: auto;
}
body #page {
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: auto;
}
a {
	text-decoration: none;
	outline: none;
}
a:active {
	background: none;
}
img {
	border: none;
}
/*----------------------------------------header-styles---------------------------------------*/
#header {
	margin: 0;
	padding: 0;
	position: relative;
	width: 100%;
	height: 90px;
}
#header div {
	margin: 0 auto;
    max-width: 1040px;
    min-height: 227px;
    padding: 0 10px;

}
#header div a.logo {
	display: block;
    float: left;
}
#header div a.logo h1 {
	color: #000000;
	font-family: 'Arial Black';
	font-size: 36px;
	font-weight: normal;
	line-height: 90px;
	margin: 0;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
}
#header div ul {
	display: block;
    float: right;
    list-style: none outside none;
    margin: 0 auto;
    padding: 32px 0 10px;
    text-align: center;
}
#header div ul li {
	display: inline-block;
	margin: 0 0 0 37px;
	padding: 5px;
	width: auto;
}
#header div ul li a {
	color: #000000;
	font-family: "Arial Black";
	font-size: 14px;
	font-weight: normal;
	line-height: 14px;
	margin: 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: auto;
}
#header div ul li.selected a, #header div ul li.selected a:hover {
	color: #16a5f2;
}
#header div ul li a:hover {
	color: #16ab88;
}
#header div ul li ul {
	display: none;
}
#header span#mobile-navigation, #header span#mobile-submenu, #header div ul li ul {
	display: none;
}
/*----------------------------------------body-home-styles---------------------------------------*/
#body {
	background: url(../images/bg-home.jpg) no-repeat center top;
	background-size: cover;
	border-top: 2px solid #16a5f2;
	margin: 0;
	overflow: hidden;
	padding: 0;
	position: relative;
	width: 100%;
}
#body.home div {
	background: none;
	margin: 0;
	max-width: none;
	padding: 0 0 54px;
	width: 100%;
}
#body.home div.header div {
	background: none;
	margin: 0 auto;
	max-width: 1000px;
	padding: 74px 0 0;
}
#body.home div.header div h1 {
	display: block;
	color: #ffffff;
	font-family: 'Arial Black';
	font-size: 90px;
	line-height: 96px;
	margin: 0 auto 32px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	text-shadow: #000000 2px 1px 4px;
}
#body.home div.header div h1 span {
	color: palevioletred;
}
#body.home div.header div p {
	color: #fff;
	display: block;
	font-family: 'Arial Black';
	font-size: 18px;
	text-align: center;
}
#body.home div.header div hr {
	border: none;
	border-bottom: 6px solid #fff;
	display: block;
	width: 70%;
	margin: 0 auto 32px;
}
#body.home div.header div img {
	display: block;
	margin: 0 auto;
	padding: 0;
	width: 97.9167%;
}
#body.home div.body {
	background: rgba(22, 165, 242, 0.7);
	margin: 0;
	padding: 0;
	width: 100%;
}
#body.home div.body div {
	background: none;
	margin: 0 auto;
	max-width: 960px;
	padding: 54px 0 86px;
}
#body.home div.body div h1 {
	background: url(../images/bg-border1.gif) no-repeat center bottom;
	color: #FFFFFF;
	font-family: 'Arial Black';
	font-size: 35px;
	font-weight: normal;
	line-height: 40px;
	margin: 0;
	padding: 0 0 50px;
	text-align: center;
	text-transform: uppercase;
}
#body.home div.body div p {
	background: url(../images/bg-border1.gif) no-repeat center bottom;
	color: #FFFFFF;
	display: block;
	font-family: Arial;
	font-size: 15px;
	font-weight: normal;
	letter-spacing: 0.05em;
	line-height: 48px;
	margin: 12px auto 0;
	padding: 0 0 12px;
	text-align: center;
	width: 63.6458%;
}
#body.home div.body div p a {
	color: #ffffff;
	font-family: Arial;
	font-size: 25px;
	font-weight: normal;
	line-height: 48px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#body.home div.body div p a:hover {
	color: #27aef6;
}
#body.home div.body div a.more {
	border: 5px solid #FFFFFF;
	color: #FFFFFF;
	display: block;
	font-family: 'Arial Black';
	font-size: 20px;
	font-weight: normal;
	height: 47px;
	line-height: 47px;
	margin: 30px auto 0;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 230px;
}
#body.home div.body div a.more:hover {
	background-color: #ffffff;
	color: #16a5f2;
}
/*----------------------------------------body-styles---------------------------------------*/
#body div {
	background: url(../images/bg-transparent2.png) repeat;
	margin: 0 auto;
	max-width: 960px;
	overflow: hidden;
	padding: 58px 0 4px;
}
#body.running div {
	padding: 58px 0 161px;
}
#body div h1 {
	color: #16a5f2;
	font-family: 'Arial Black';
	font-size: 40px;
	font-weight: normal;
	line-height: 40px;
	margin: 0;
	padding: 0 0 20px;
	text-align: center;
	text-transform: uppercase;
}
#body div img {
	display: block;
	margin: 68px auto 47px;
	padding: 0;
	width: auto;
}
#body.runningsinglepost div img {
	display: block;
	margin: 68px auto 73px;
	padding: 0;
	width: auto;
}
#body.runningsinglepost div h3 {
	padding: 17px 0 0;
}
#body.runningsinglepost div h3 span {
	padding: 0 0 12px;
}
#body.runningsinglepost div p {
	margin: 0 auto 10px;
}
#body div p {
	color: #FFFFFF;
	display: block;
	font-family: Arial;
	font-size: 17px;
	font-weight: normal;
	letter-spacing: 0.02em;
	line-height: 1.8;
	margin: 0 auto 37px;
	padding: 0;
	text-align: justify;
	max-width: 800px;
	width: 90%;
}
#body div p span {
	color: #FFFFFF;
	display: block;
	font-family: Arial;
	font-size: 16px;
	font-style: italic;
	font-weight: normal;
	letter-spacing: 0.03em;
	line-height: 48px;
	padding: 39px 0;
}
#body div p span a {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 16px;
	font-style: italic;
	font-weight: bold;
	line-height: 48px;
}
#body div p a {
	color: #ffffff;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	line-height: 48px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#body div p a:hover {
	color: #16a5f2;
}
#body div h2 {
	color: #FFFFFF;
	font-family: arial;
	font-size: 25px;
	font-weight: normal;
	line-height: 20px;
	margin: 0 0 15px;
	padding: 0;
	text-align: center;
	text-transform: none;
}
#body div ul.gallery {
	display: inline-block;
	list-style: none outside none;
	margin: 0 0 76px;
	max-width: none;
	padding: 72px 0 0;
	width: 100%;
}
#body div ul.gallery li {
	border: none;
	float: left;
	margin: 0 10px;
	padding: 0;
	width: 300px;
}
#body div ul.gallery li a {
	display: block;
	margin: 0;
	padding: 0;
	width: auto;
}
#body div ul.gallery li a img {
	display: block;
	float: none;
	margin: 0 auto;
	padding: 0;
	width: auto;
}
#body div h3 {
	background: url(../images/bg-border1.gif) no-repeat center top;
	color: #FFFFFF;
	display: block;
	font-family: Arial;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 0.02em;
	line-height: 48px;
	margin: 0 auto 15px;
	padding: 18px 0 0;
	text-align: center;
	width: 611px;
}
#body div h3 span {
	background: url(../images/bg-border1.gif) no-repeat center bottom;
	display: block;
	margin: 0;
	padding: 0 0 11px;
	width: auto;
}
#body.running div p {
	margin: 0 auto 48px;
}
#body div ul {
	display: inline-block;
	list-style: none outside none;
	margin: 0;
	max-width: 780px;
	padding: 72px 90px 49px;
}
#body div ul li:first-child {
	border: none;
	padding: 0 0 0 0;
}
#body div ul li {
	border-top: 2px solid #363636;
	display: block;
	margin: 0;
	overflow: hidden;
	padding: 40px 0 0;
	width: auto;
}
#body div ul li img {
	display: block;
	float: left;
	margin: 0 28px 0 0;
	padding: 0;
	width: auto;
}
#body div ul li div {
	background: none;
	float: left;
	margin: 0;
	max-width: none;
	overflow: hidden;
	padding: 6px 0 0;
	width: 522px;
}
#body div ul li div h1 {
	background: none;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 25px;
	font-weight: normal;
	line-height: 30px;
	margin: 0 0 16px;
	padding: 0;
	text-align: left;
	text-transform: uppercase;
	width: auto;
}
#body div ul li div p {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.01em;
	line-height: 48px;
	margin: 0 0 6px;
	padding: 0;
	text-align: left;
	width: auto;
}
#body div ul li div p a {
	color: #ffffff;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	line-height: 48px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#body div ul li div p a:hover {
	color: #16a5f2;
}
#body div ul li div a.more {
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	display: block;
	float: left;
	font-family: Arial;
	font-size: 14px;
	font-weight: normal;
	height: 34px;
	line-height: 34px;
	margin: 0 0 40px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 136px;
}
#body div ul li div a.more:hover {
	background-color: #16a5f2;
	border: none;
	height: 38px;
	line-height: 38px;
	width: 140px;
}
#body.contact div img {
	display: block;
	margin: 70px auto 37px;
	padding: 0;
	width: auto;
}
#body.contact div h2 {
	font-weight: bold;
	margin: 0 auto 18px;
	text-transform: uppercase;
}
#body.contact div p, #body.contact div a {
	color: #FFFFFF;
	display: block;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	letter-spacing: 0.01em;
	line-height: 18px;
	margin: 0 auto 22px;
	padding: 0;
	text-align: center;
	width: 355px;
}
#body.contact div p a {
	color: #FFFFFF;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	line-height: 48px;
	margin: 0 auto 37px;
	padding: 0;
	text-decoration: underline;
}
#body.contact div p a:hover {
	color: #16a5f2;
}
#body.contact div h4 {
	background: url(../images/bg-border1.gif) no-repeat center bottom;
	color: #FFFFFF;
	font-family: 'Arial Black';
	font-size: 30px;
	font-weight: normal;
	line-height: 30px;
	margin: 0;
	padding: 14px 0 29px;
	text-align: center;
	text-transform: uppercase;
}
#body.contact div form {
	display: block;
	margin: 0 auto;
	overflow: hidden;
	padding: 36px 0 0;
	width: 503px;
}
#body.contact div form input {
	background: none;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	height: 39px;
	line-height: 43px;
	margin: 0 0 17px;
	padding: 0 4px;
	text-align: center;
	text-transform: uppercase;
	width: 491px;
}
#body.contact div form textarea {
	background: none;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: normal;
	height: 87px;
	line-height: 24px;
	margin: 0 0 22px;
	overflow: auto;
	padding: 7px 4px 0;
	resize: none;
	text-align: center;
	text-transform: uppercase;
	width: 491px;
}
#body.contact div form input#submit {
	background: none;
	border: 2px solid #FFFFFF;
	color: #FFFFFF;
	cursor: pointer;
	display: block;
	font-family: Arial;
	font-size: 18px;
	font-weight: bold;
	height: 43px;
	line-height: 43px;
	margin: 0 auto 16px;
	padding: 0;
	text-align: center;
	text-transform: uppercase;
	width: 143px;
}
#body.contact div form input#submit:hover {
	background-color: #16a5f2;
	border: none;
	height: 43px;
	width: 143px;
}
#body.blogsinglepost div .image-1 {
	display: block;
	float: left;
	margin: 20px 28px 0 90px;
	padding: 0;
	width: 260px;
	border: #16a5f2 2px solid;
	border-radius: 10px;
}
#body.blogsinglepost div .image-2 {
	display: block;
	float: right;
	margin: 20px 90px 0 28px;
	padding: 0;
	width: 260px;
	border: #16a5f2 2px solid;
	border-radius: 10px;
}

#body.blogsinglepost div .image {
	display: inline-block;
	width: 165px;
	height: 165px;
	object-fit: cover;
	margin: 5px;
	border: #16a5f2 2px solid;
	border-radius: 10px;
}

#body.blogsinglepost div.show {
	display: block;
	width: 100%;
	text-align: left;
	margin: 0 0 0 30px;
}

#body.blogsinglepost div div {
	background: none;
	float: left;
	margin: 20px 0 0;
	max-width: 100%;
	padding: 0 0 50px;
	width: 60%;
}
#body.blogsinglepost div div h1.title-1 {
	background: none;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 0.03em;
	line-height: 1.4;
	margin: 0 24px 20px;
	padding: 0 20px 0 0;
	text-align: left;
	text-transform: uppercase;
}
#body.blogsinglepost div div h1.title-2 {
	background: none;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 25px;
	font-weight: bold;
	letter-spacing: 0.03em;
	line-height: 25px;
	margin: 0 30px 13px;
	padding: 0;
	text-align: right;
	text-transform: uppercase;
}
#body.blogsinglepost div div h1.title {
	background: none;
	color: #FFFFFF;
	font-family: Arial;
	font-size: 28px;
	font-weight: bold;
	letter-spacing: 0.03em;
	line-height: 1.4;
	text-align: left;
	text-transform: uppercase;
}
#body.blogsinglepost div div p a {
	color: #ffffff;
	font-family: Arial;
	font-size: 16px;
	font-weight: normal;
	line-height: 48px;
	margin: 0;
	padding: 0;
	text-decoration: underline;
}
#body.blogsinglepost div div p a:hover {
	color: #16a5f2;
}
/*----------------------------------------footer-styles---------------------------------------*/
#footer {
	background-color: #111111;
	margin: 0;
	min-height: 122px;
	padding: 0;
	width: 100%;
}
#footer div {
	margin: 0 auto;
	max-width: 940px;
	overflow: hidden;
	padding: 47px 10px 42px;
}
#footer div p {
	color: #FFFFFF;
	float: left;
	font-family: Arial;
	font-size: 15px;
	font-weight: normal;
	line-height: 15px;
	margin: 0;
	padding: 5px 0 0;
	text-align: left;
	text-transform: none;
	width: 400px;
}
#footer div .connect {
	display: block;
	float: right;
	height: 32px;
	margin: 0;
	overflow: hidden;
	padding: 0;
	width: 154px;
}
#footer div .connect a {
	background: url(../images/icons.png) no-repeat;
	display: block;
	float: left;
	height: 28px;
	margin: 0 7px;
	padding: 0;
	text-indent: -99999px;
	width: 28px;
}
#footer div .connect a.facebook {
	background-position: 0 0;
}
#footer div .connect a.googleplus {
	background-position: 0 -30px;
}
#footer div .connect a.pinterest {
	background-position: 0 -60px;
	margin: 0;
}
#footer div .connect a.twitter {
	background-position: 0 -90px;
}
#footer div .connect a.facebook:hover {
	background-position: -30px 0;
}
#footer div .connect a.googleplus:hover {
	background-position: -30px -30px;
}
#footer div .connect a.pinterest:hover {
	background-position: -30px -60px;
}
#footer div .connect a.twitter:hover {
	background-position: -30px -90px;
}
#welcome-popup {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,0.6);
	display: flex;
	justify-content: center;
	align-items: center;
	z-index: 9999;
}
#popup-content {
	background: white;
	padding: 30px 40px;
	text-align: center;
	border-radius: 12px;
	max-width: 350px;
	width: 90%;
	animation: fadeIn 0.5s;
}
#popup-content h2 {
	margin-bottom: 20px;
}
.popup {
	padding: 10px 20px;
	background: #ff7da6;
	border: none;
	color: white;
	font-weight: bold;
	border-radius: 8px;
	cursor: pointer;
}
.popup:hover {
	background: #ff5c8a;
}
#quotes {
	margin-top: 15px;
	font-style: italic;
	color: #ff5c8a;
}

@keyframes fadeIn {
	from {opacity: 0; transform: scale(0.9);}
	to {opacity: 1; transform: scale(1);}
}